

{% extends 'placementbase.html' %}

{% block title %}PlacementHome{% endblock %}

{% block content %}

<div style="margin-top: 100px;">
    <h2 style="padding-left: 650px;">ADD STUDENTS</h2>

    <form method="post" action="{% url 'add_student' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a style="text-decoration: none;color: #374050;padding-left: 50px;" href="{% url 'showstudents' %}">Show Students</a>
    </form>

</div>
{% endblock %}